In [1]:
import pandas as pd

nodes_file = "airports.csv"
edges_file = "flights.csv"
processed_nodes_file = "nodes.json"
processed_edges_file = "edges.json"

In [11]:
nodes_df = pd.read_csv(nodes_file)
#nodes_df['y_lng'] = 250/360 * (180 + nodes_df['LONGITUDE'])
#nodes_df['x_lat'] = 500/180 * (90 - nodes_df['LATITUDE'])
nodes_df.to_json(processed_nodes_file, orient="records")
nodes_df.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,y_lng,x_lat
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,72.610833,137.076778
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,55.776458,159.968556
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,50.965840,152.666056
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,56.651507,123.752611
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,66.531618,162.401333

In [2]:
pd.set_option('display.max_columns', 500)

edges_df = pd.read_csv(edges_file)
edges_df.fillna(0)
edges_df['EDGE_ID'] = range(0, len(edges_df))
edges_df.to_json(processed_edges_file, orient="records")
edges_df.head()

E:\Python\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,EDGE_ID
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,4