In [2]:
import pandas as pd

nodes_file = "airports.csv"
processed_nodes_file = "nodes.json"

In [11]:
nodes_df = pd.read_csv(nodes_file)
nodes_df['y_lng'] = 250/360 * (180 + nodes_df['LONGITUDE'])
nodes_df['x_lat'] = 500/180 * (90 - nodes_df['LATITUDE'])
nodes_df.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,y_lng,x_lat
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,72.610833,137.076778
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,55.776458,159.968556
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,50.965840,152.666056
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,56.651507,123.752611
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,66.531618,162.401333

In [10]:
nodes_df.to_json(processed_nodes_file, orient="records")